appnope
backports-abc
backports.shutil-get-terminal-size
backports.ssl-match-hostname
certifi
cycler
dask
decorator
functools32
future
gnureadline
ipython
ipython-genutils
Jinja2
jsonschema
MarkupSafe
matplotlib
mpmath
networkx
numpy
pandas
pathlib2
pexpect
pickleshare
Pillow
ptyprocess
pylab
pyparsing
python-dateutil
python-telegram-bot
pytz
pyzmq
scikit-image
scikit-learn
scipy
seaborn
simplegeneric
singledispatch
six
sympy
toolz
tornado
traitlets
stopit
